COMPOSE_PROJECT_NAME=irods-keycloak-admin-e2e

POSTGRES_IMAGE=postgres:15
KEYCLOAK_IMAGE=irods-keycloak-admin-keycloak:local

POSTGRES_USER=postgres
POSTGRES_PASSWORD=keycloak
KEYCLOAK_DB_NAME=KEYCLOAK
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

KEYCLOAK_HOSTNAME=localhost
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_HTTPS_HOST_PORT=8443
KEYCLOAK_MANAGEMENT_HOST_PORT=19090
